@page "/zone"
@using Volo.Abp.MultiTenancy
@using DakSite.Blazor.Services
@inherits DakSiteComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject MetaTagService MetaTagService

@code {
    protected override async Task OnInitializedAsync()
    {
        MetaTagService.Set("title", "个人空间 - title");
        MetaTagService.Set("description", "个人空间 - description");
        MetaTagService.Set("keywords", "个人空间 - keywords");

        await base.OnInitializedAsync();
    }
}

<PageTitle>个人空间</PageTitle>

<div class="app-content">
    <Alert Color="Color.Success" Visible>
        <AlertMessage>Blazorise.AntDesign Alert Component</AlertMessage>
        <AlertDescription>个人空间</AlertDescription>
    </Alert>
</div>
